.taitol{
    padding: 0px 2px 2px 7px;
    float: left;
    font-size: 25px;
    color:fff;
    display: inline;
    font-family:sans-serif;
}
.header{
    display: block;
    background-color:#00bfff;
    height: 31px; 
}
li{
    list-style:none;
}
.header-list li{
    padding: 7px 0px 2px 1px;
    font-size: 13px;
    color:#ffff00;
}
li span{
 font-weight:bold;
 color: ff0000;
}
main li{
    font-size:20px;
}
main h3{
    font-size:23;
}